{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'header_helper.tmpl' as header with context %}
{% import 'annotation_helper.tmpl' as notes with context %}
{{ set_locale(lang) }}
{{ base.html_headstart() }}
{% block extra_head %}
{#  Leave this block alone. #}
{% endblock %}
{{ template_hooks['extra_head']() }}
</head>
<body>
<a href="#content" class="sr-only sr-only-focusable">{{ messages("Skip to main content") }}</a>

<div class="container" id="content" role="main">
  {{ header.html_logo() }}
  {{ header.menubar() }}
  {{ header.slogan() }}

    <div class="body-content">
      <!--Body content-->
      <div class="row">
        <div class="col-sm-9 blog-main">
          {% block content %}{% endblock %}
        </div>
        <div class="col-sm-3 blog-sidebar">
          {{ blog_sidebar }}
        </div>
        <!--End of body content-->
      </div>
    </div>
</div>

<footer class="blog-footer" id="footer">
    {{ content_footer }}
    {{ template_hooks['page_footer']() }}
</footer>

{{ base.late_load_js() }}
    <script>$('a.image-reference:not(.islink) img:not(.islink)').parent().colorbox({rel:"gal",maxWidth:"100%",maxHeight:"100%",scalePhotos:true});</script>
    <!-- fancy dates -->
    <script>
    moment.locale("{{ momentjs_locales[lang] }}");
    fancydates({{ date_fanciness }}, {{ js_date_format }});
    </script>
    <!-- end fancy dates -->
    {% block extra_js %}{% endblock %}
    {% if annotations and post and not post.meta('noannotations') %}
        {{ notes.code() }}
    {% elif not annotations and post and post.meta('annotations') %}
        {{ notes.code() }}
    {% endif %}
{{ body_end }}
{{ template_hooks['body_end']() }}
</body>
</html>
